---
// Supports weights 300-800
import '@fontsource-variable/open-sans'
import { ViewTransitions } from 'astro:transitions'
import Navigation from "../components/Navigation.astro"
import Footer from "../components/Footer.astro"
const { title, description, image} = Astro.props
const URL_VALUE = new URL(Astro.url.pathname, Astro.site)
const DOMAIN = Astro.site.hostname
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="robots" content="index, follow">
		<!-- Facebook Meta Tags -->
		<meta property="og:url" content={URL_VALUE}>
		<meta property="og:type" content="website">
		<meta property="og:title" content={title}>
		<meta property="og:description" content={description}>
		<meta property="og:image" content={image}>
		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content={DOMAIN}>
		<meta property="twitter:url" content={URL_VALUE}>
		<meta name="twitter:title" content={title}>
		<meta name="twitter:description" content={description}>
		<meta name="twitter:image" content={image}>

		<meta name="google-site-verification" content="RPYpFPenHcpGmt5H9U1uwOzYmC4huRVtRHKJzrnybe4" />
		<ViewTransitions />
	</head>
	<body>
		<Navigation />
		<main transition:animate="fade">
			<slot />
		</main>
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--main: #1D1B20;
		--main-variant: #49454F;
		--bg: #FEF7FF;
		--container: #F3EDF7;
		--container-high: #ECE6F0;
		--outline: #CAC4D0;
		--primary: #6750A4;
		--on-primary: #FFFFFF;
		--secondary: #E8DEF8;
		--on-secondary: #1D192B;
		--muted: #49454F;
		--error: #B3261E;

		--border-outline: 1.5px solid var(--outline);
		--border-radius: 12px;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--main: #E6E0E9;
			--main-variant: #CAC4D0;
			--bg: #141218;
			--container: #211F26;
			--container-high: #2B2930;
			--outline: #79747E;
			--primary: #D0BCFF;
			--on-primary: #381E72;
			--secondary: #4A4458;
			--on-secondary: #E8DEF8;
			--muted: #CAC4D0;
			--error: #F2B8B5;

			--border-outline: none;
		}
	}

	html, body {
		margin: 0;
	}

	body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: var(--bg);
		font-family: "Open Sans Variable", sans-serif;
		color: var(--main);
		min-height: 100vh;
	}

	main {
		flex: 1;
		margin: 0 auto;
		max-width: 800px;
		width: 100%;
		padding: 24px 16px 64px 16px;
		box-sizing: border-box;
	}

	code {
		color: var(--primary);
		padding: 4px 6px;
		border-radius: 2px;
		background-color: var(--container-high);
	}
</style>
